<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">

        <mat-card>
          <div class="container text-center">
            <img src="../../../assets/education-logo-template-vector-illustration-design.jpg" alt="" width="100px" height="100px">
          </div>

        <h1 class="text-center">Login Here!</h1>

        <form action="" class="ml20 mr20 mt20 mb20">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input
              required matInput placeholder="Enter Your Username">
          </mat-form-field>

          <!--     Password     -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              required type="password" matInput placeholder="Enter Your Password">
          </mat-form-field>

          <div class="container text-center">
            <button type="submit" mat-raised-button color="primary">Login</button>
            <button style="ml20" mat-raised-button color="primary">Signup</button>
          </div>

        </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
